@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: rounded;
  src: url(./fonts/FontsFree-Net-SF-Pro-Rounded-Regular.ttf);
}
@font-face {
  font-family: display;
  src: url(./fonts/SFPRODISPLAYREGULAR.OTF);
}

.login_section {
  min-height: 100vh;
}

.desktop_image {
  display: block;
  border-radius: 24px;
  height: 90vh;
  max-width: 100%;
}
.form_section #welcome_back {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.24px;
  color: #0c1421;
  font-family: rounded;
}
.form_section .sign_up_text {
  color: #313957;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.15px;
  font-size: 1rem;
  font-family: display;
}
.mobile_image {
  display: none;
}
.sign_in_form {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
.sign_in_form a {
  text-decoration: none;
  font-size: 14px;
  color: #1e4ae9;
}
.sign_in_form button {
  border-radius: 12px;
  background-color: #162d3a;
  color: #fff;
  border: none;
  padding: 12px 0px;
}
.third_party_login button {
  border-radius: 12px;
  border: none;
  padding: 8px 9px;
  background: #f3f9fa;
  color: #313957;
  font-weight: 400;
  letter-spacing: 0.16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.sign_in_border {
  border: 1px solid #cfdfe2;
  height: 1px;
  width: 31%;
}
.sign_in_text {
  margin-top: 12px;
  margin-right: 14px;
  margin-left: 14px;
  font-size: 12px;
  color: #294957;
}
.sign_in_form input {
  border-radius: 8px;
  border: 1px solid #d4d7e3;
  background: #f3f7fb;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #8897ad;
  font-size: 14px;
}
.sign_in_form input:focus {
  outline-color: #d4d7e3;
}
.sign_in_form label {
  color: #0c1421;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0.14px;
  font-size: 14px;
}
.sign_up_text a {
  text-decoration: none;
}
.footer_text {
  color: #959cb6;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.14px;
}

/* Navbar */
nav {
  font-family: rounded;
  background-color: #f58634;
  color: #f3f7fb;
  height: 70px;
}

#desktop_navbar {
  margin-top: 0;
}
#desktop_navbar a {
  text-decoration: none;
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
}
#desktop_navbar button {
  width: 120px;
}
.left_toggle_icon {
  font-size: 2.1rem;
  margin-left: 10px;
}
.contact_image {
  width: 35px;
  height: 35px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 7px;
}
#hidden_nav {
  width: 70%;
  font-family: rounded;
  font-weight: 500;
  font-size: 1rem;
  border: none;
}
.hidden_nav_icon {
  font-size: 1.5rem;
  color: gray;
  margin-right: 10px;
}
.menu {
  margin-bottom: 20px;
  align-items: center;
  font-weight: 700;
}
.hidden_nav_email {
  font-size: 0.9rem;
  color: gray;
}
.hidden_nav_image {
  width: 60px;
  height: 60px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.hidden_nav_edit_icon {
  font-size: 1.8rem;
  background-color: #000000;
  color: #fff;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  top: 22%;
  right: 46%;
  border: 2px solid #fff;
}
.hidden_nav_contact_info {
  position: relative;
  font-weight: bold;
}
.greater_icon {
  font-size: 0.7rem;
  color: gray;
}
.offcanvas-header {
  border-bottom: 1px solid gray;
  position: relative;
}
.br {
  border: 2px solid red;
}
.hidden_dark_theme_icon {
  background-color: lightgray;
  position: absolute;
  right: 5%;
  top: 12%;
  width: 66px;
  height: 26px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
  padding: 12px 5px;
}
.hidden_theme_toggler {
  /* background: green; */
  /* background-color: rgba(6, 188, 6, 0.9); */
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
}
#hidden_nav {
  display: none;
}
#mobile_navbar {
  display: none;
}
.logo_image {
  object-fit: cover;
  width: 8%;
  margin-left: 10px;
}
.search {
  width: 40%;
  position: absolute;
  top: 40%;
  left: 30%;
}
.search input {
  text-indent: 25px;
  padding: 20px;
  font-size: 1rem;
}
.search input:focus {
  box-shadow: none;
}
.search .fa-search {
  position: absolute;
  top: 12px;
  height: 50px;
  right: 10px;
  font-size: 1rem;
  color: #000000;
}

.dropdown-content {
  top: 65px;
  position: absolute;
  background: #f6f6f6;
  z-index: 1;
  width: 100%;
  max-height: 500px;
  overflow: auto;
}
.dropdown-content a {
  color: #000000;
  display: block;
  text-decoration: none;
  padding: 12px 16px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}
.banner_section {
  position: relative;
  min-height: 70vh;
  width: 100%;
  background-image: url("https://res.cloudinary.com/dogmqg8to/image/upload/v1691913589/download_jxudj1.jpg");
  background-size: cover;
  background-position: center center;
}
.mobile_search_input{
  display: none;
}

@media only screen and (max-width: 600px) {
  .mobile_middle_input input {
    background: lightgray;
    font-family: display;
    border-radius: 20px;
    margin-left: 50px;
  }
  .mobile_search_middle svg {
    font-size: 1.4rem;
    margin-left: 15px;
  }
  .mobile_middle_input .form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
    background-color: lightgray;
  }
  .mobile_search_input{
    display: flex;
    justify-content: space-around;
    font-family: display;
  }
   .mobile_middle_input div {
    display: none;
  }

  .mobile_search_icon_container {
    background-color: #000000;
    color: #fff;
    padding: 10px 15px;
    border-radius: 7px;
  } 
  .mobile_search_input .form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
  } 
  .banner_section {
    display: none;
  }
  #hidden_nav {
    display: block;
  }
  #mobile_navbar {
    display: flex;
  }
  .desktop_image {
    display: none;
  }
  #desktop_navbar {
    display: none;
    height: 20vh;
  }

  .mobile_image {
    display: block;
    padding: 10px;
    border-radius: 20px;
  }
  .third_party_login {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .third_party_login button {
    width: 40%;
  }
  /* stylesheet for hiding the sign in text that is visible on the desktop and not on the phone */
  .sign_hide_mobile {
    display: none;
  }
}
/* @media only screen and (max-width: 768px) {
  
} */
